#type: node
#context: chop
#internal: constraintsurface
#icon: OBJ/sticky

= Constraint Surface =


"""Position and Orient an object using the surface of a geometry."""

The Constraint Surface CHOP computes a position from a given location on the surface of a geometry.
It can also optionally compute a rotation to make the object look at a direction.

@parameters

== Constraint Surface ==

SOP Path:

    The surface geometry to stick to.

Use Subdivided Geometry:

    Use Subdivided Geometry if the surface is a made of polygons.
    Not implemented yet.

Mode:

    Defines how to lookup the geometry.

    UV(Sticky):
        Lookup the geometry using texture coordinates defines by __UV__.
        You using a custom attribute for the uv coordinates by setting __UV Attribute__.

    Primitive + UV:
        Lookup the geometry using barycentric coordinates defines by __UV__.
        The 2 first 'uv' components as used as a local uv coordinate and the last 'w' component stores a primitive index.

    Point Group:
        Lookup the geometry at its closest distance from the centroid of points in __Group__.

    Primitive Group:
        Lookup the geometry at its closest distance from the centroid of primitives in __Group__.

    Closest Distance:
        Lookup the geometry at its closest distance from the __Position__.
        You using a custom attribute for the position by setting __Position Attribute__.

UV Attribute:
    A vector attribute name on the geometry to use as a UV space.
    The UV space needs to be non overlapping.

UV:
    A coordinate to use for UV lookup.

Group:
    The point or primitibe group (or numbers) based on which the local surface frame is built.

Position Attribute:
    A vector attribute name to use when doing Closest Distance lookups.

Position:
    A world space position value to use when doing Closest Distance lookups.

Look At Mode:

    Define how to compute the Look At direction vector.

    None:
        The constraint won't change the previous rotation.

    U Direction:
        Use the U direction for the Look At vector. Works best with NURBS surfaces.
    V Direction:
        Use the V direction for the Look At vector. Works best with NURBS surfaces.

    Direction Attribute from Geometry:
        Use a vector attribute value on the current position for the Look At vector.

Look Up Mode:

    Define how to compute the Up vector.

    Up Vector:
        Use the __Up Vector__ parameter value.

    Up Vector Attribute from Geometry:
        Use a vector attribute value on the current position for the Up vector.

    U Direction:
        Use the U direction for the Up vector. Works best with NURBS surfaces.
    V Direction:
        Use the V direction for the Up vector. Works best with NURBS surfaces.

Look At Axis:

    Define which of the 6 axis ( X-,Y-,Z-,X+,Y+,Z+) is oriented along the Look At direction.

Look Up Axis:

    Define which of the 4 allowed axis act as the up direction.
    The allowed axis change based on the Look At Axis.
    You can't use the same axis to define the look at and up directions.

Direction Attribute:

    The attribute name representing the Direction vector on the Geometry.

Up Attribute:

    The attribute name representing the Up vector on the Geometry.

Roll:

    Roll angle in degrees around the Lookat At Axis.

[Include:common#channel]

[Include:common#common]

@related
    - [Constraint Surface Shelf Tool|/shelf/constraintsurface]
    - [Node:chop/constraintobject]
    - [Node:chop/constraintoffset]
    - [Node:chop/constraintpath]
    - [Node:chop/constraintpoints]
