#type: node
#context: chop
#internal: constraintsimpleblend
#icon: OBJ/blend

= Constraint Simple Blend =

"""Combines two chops by using a single weight specified as a parameter."""

The Constraint Simple Blend CHOP combines two CHOPs by using a single weight specified as a parameter. It is a simplified version of [Constraint Blend CHOP|Node:chop/constraintblend].

@parameters

== Simple Blend ==

Blend:
    Blends the 2 inputs.
    A value of 0.0 will return input 0.
    A value of 1.0 will return input 1.
    A value of 0.5 will blend input 0 with input 1 at 50%.

[Include:common#rotblend2/]

[Include:common#blendmask/]

[Include:common#channel]

[Include:common#common]

@related
    - [Constraint Blend Shelf Tool|/shelf/constraintblend]
    - [Node:chop/constraintblend]
    - [Node:chop/constraintsequence]

