#type: node
#context: chop
#internal: constraintsequence
#icon: OBJ/blend

= Constraint Sequence =

"""Combines multiple chops by blending the inputs in sequence."""

The Constraint Sequence CHOP combines CHOPs by blending the inputs in sequence.

@parameters

== Sequence ==

Sequence:
    Blends inputs in sequence based on input indices.
    A value of 0.5 will blend input 0 with input 1 at 50%.
    A value of 1.5 will blend input 1 with input 2 at 50%.

[Include:common#rotblend2/]

[Include:common#blendmask/]
 
[Include:common#channel]

[Include:common#common]

@related
    - [Constraint Blend Shelf Tool|/shelf/constraintblend]
    - [Node:chop/constraintblend]
    - [Node:chop/constraintsimpleblend]

