#icon: OBJ/sticky
#tags: constraints

= Surface =

"""Constrain to an exact point on the surface of geometry."""

This tool will position and orient the current object using interpolated surface attributes from a SOP node. It can use UV space, parametric coordinates, or closest distance to the geometry surface.

== Creating a Surface Constraint ==
            
    # Click ((LMB)) the [Icon:OBJ/rivet] Points tool on the __Constraints__ tab.
                
    # Review the [Toolbar Parameters|#parameters] to create the constraint with or without offset.

    # Choose the object you want to position and orient and press ((Enter)) to confirm your selection.
                
    # Click ((LMB)) to pick a surface location on the target object. Press ((Enter)) to confirm your selection.

This tool creates a new `constraints` CHOP Network inside the object, or reuses an existing one.

A [Surface CHOP|Node:chop/constraintsurface] is created based on the selected objects. The constraint is added after the node that has the output flag and the output flag is moved to the new node.

@parameters Toolbar Parameters

Keep Position:
    When Keep Position is on, applying the constraint won't change the current object position.

@related
    - [Node:chop/constraintsurface]
    - [Node:chop/constraintobject]
    - [Node:chop/constraintoffset]
